body{
  background-color: #282c34;
  font-family: 'IBM Plex Mono', monospace;

}

.App {
  text-align: center;
}

button{
  font-family: 'IBM Plex Mono', monospace;
  font-size: 18px;
  border: none;
  color: white;
  background-color: rgb(18, 29, 39);
  border-radius: 15px;
  width: 200px;
  height: 30px;
  cursor: pointer;
}

.correct{
  color: greenyellow;
}

.wrong{
  color: palevioletred;
}

.underline{
  text-decoration: underline;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header {
  align-items: center;
  justify-content: center;
  width: 80%;
}

